body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

h1{
    color: #333;
}

h2 {
    color: #333;
}

form {
    margin-bottom: 20px;
}

input {
    padding: 8px;
    margin-right: 10px;
}

button {
    padding: 8px 15px;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #000000;
    display: flex;
    align-items: center;
}

li img {
    max-width: 50px;
    margin-right: 10px;
}

.status {
    margin-left: auto;
    padding: 5px;
    background-color: green;
    color: white;
    cursor: pointer;
}

.status.utleid {
    background-color: red;
}

.box1{
    width: 100%;
    height: 100px;
    background-color: #B4CDFF; 
}

.box2{
    width: 100%;
    height: 500px;
    background-color: #AFFBFF; 
}


